::ng-deep {
  ion-input {
    input {
      margin-left: 8px;
    }
  }

  ion-textarea {
    textarea {
      margin-left: 8px !important;
    }
  }
}

.buttons-grid {
  ion-col {
    display: flex;
  }

  ion-button {
    white-space: normal;
    height: 64px;
    width: 128px;
    margin: auto;
  }

}

.data-grid {
  ion-input, ion-textarea {
    border: 3px solid #3880ff;
    border-radius: 8px;
  }
}