<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="buttons-grid">
    <ion-row>
      <ion-col size="6">
        <ion-button>
          Send Notification Message
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          Send Data Message
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="data-grid">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">
            Título
          </ion-label>
          <ion-input type="text" placeholder="Nova promoção... Oferta imperdível... Somente hoje..."></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">
            Menssagem
          </ion-label>
          <ion-textarea placeholder="Digite aqui uma breve menssagem..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
